absl-py==2.1.0
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1720453481653/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
contourpy==1.2.1
cycler==0.12.1
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.53.1
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
grpcio==1.64.1
idna @ file:///croot/idna_1714398848350/work
importlib_metadata==8.0.0
importlib_resources==6.4.0
Jinja2 @ file:///croot/jinja2_1716993405101/work
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.9.1
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
networkx @ file:///croot/networkx_1717597493534/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
packaging==24.1
pillow @ file:///croot/pillow_1714398848491/work
protobuf==4.25.3
pyparsing==3.1.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.9.0.post0
PyYAML @ file:///croot/pyyaml_1698096049011/work
requests @ file:///croot/requests_1716902831423/work
six==1.16.0
sympy @ file:///croot/sympy_1701397643339/work
tensorboard==2.17.0
tensorboard-data-server==0.7.2
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
triton==2.3.1
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
urllib3 @ file:///croot/urllib3_1718912636303/work
Werkzeug==3.0.3
zipp==3.19.2
